.menu{
    margin-top: 50px;
    margin-left: 15%;
    width:  70%;
    border-radius: 10px;
    border: solid;
    text-align: center;
    
}

.menu-elem{
    padding:25px;
    width: 98%;
    height: 100px;
    background-color: rgb(220, 205, 187);
    border-radius: 10px;
    margin-left:1%;
    margin-top:1%;
    margin-bottom: 1%;
    cursor: pointer;
}

.menu-elem:hover{
    opacity: 0.7;
}