h1{
    font-family: 'Copperplate Gothic Light';
    font-weight: bold;
    text-align: center;
}

.primarybutton{
    width: 100px;
}

body{
    border-color: rgba(100, 15, 15, 0.833);
    border-style: groove;
    border-width: 20px;
    background-color: rgb(228, 215, 199);
    min-height: 100vh;
}

.upload{
    width: 25%;
    height: 100px;
    border-radius: 10px;
    border: solid;
    text-align: center;
    vertical-align:top;
}

.maindiv{
    margin: auto;
}

.nav-tabs .nav-link-active, .nav-tabs .nav-link{
    color: black;
    background-color: rgb(220, 205, 187);
}

.nav-tabs .nav-item{
    width: 25%;
    text-align: center;
}

td{
    border: solid;
    text-align: center;
}

label{
    width: 70px;
}